body {
    color: black;
}
    
.overtime-title {
    font-style: italic;
    width: 45rem;
    text-align: center;
    background-color: #C691A5;
    font-weight: bold;
    font-size: 1.5rem;
}
    
a {
    text-decoration: none;
}

.overtime-A, .overtime-B {
    display: flex;
}

@media screen and ( max-width:479px ) {
header {
    width: 45rem;
    text-align: center;
    background-color: #C691A5;
    font-weight: bold;
    font-size: 2rem;
}

.member {
    position: relative;
    text-align: center;
    top: 0;
    width: 35rem;
}

.main-A {
    padding-top: 4rem;
}

.main-A, .main-B {
    padding-left: 5rem;
}

span {
    background-color: #c691a5;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 3rem;
    position: relative;
}

.container {
    margin: 3rem;
    width: 30rem;
}

.btn,
a.btn,
button.btn {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-border-shadow {
    padding: calc(1.5rem - 1.2rem) 3rem 1.5rem;

    background: #fff;
}

a.btn-border-shadow:before {
    position: absolute;
    top: -1rem;
    left: -1rem;

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    border: 0.3rem solid #000;
    border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
    padding: calc(1.5rem - 0.6rem) 3rem;
}

a.btn-border-shadow:hover:before {
    top: 0;
    left: 0;
}

a.btn-border-shadow--color {
    border-radius: 0;
    background: orange;
}

a.btn-border-shadow--color:before {
    border-radius: 0;
}

.overtime {
    margin: 1rem;
}

.overtime a {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 1rem 2em;
    width: 7rem;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #c691a5;
    transition: 0.3s;
}

.overtime a::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: calc(100% - 0.2rem);
    height: calc(100% - 0.4rem);
    border: 0.2rem solid #3d9ec8;
    transition: 0.2s;
}

.overtime a::after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.3rem solid #333333;
    border-right: 0.3rem solid #333333;
    transform: rotate(45deg);
}

.overtime a:hover::before {
    top: 0;
    left: 0;
}

.overtime a:hover {
    text-decoration: none;
    background-color: #a0c4d3;
}
}
